h1 {
    font-family: Arial, Tahoma, sans-serif;
    font-size:40px;
    text-align: center
}

h2 {
    font-family: Arial, Tahoma, sans-serif;
    font-size:30px;
    padding-left: 15px;
}

h3 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 25px;
    color: #313339;
    padding-left: 35px;
}
h4 {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 20px;
    color: #313339;
    padding-left: 15px;
}

div {
    background-color: #EEF0F0;
    margin: 0 100px 0 100px;
}

.info {
    background-color: #FFFFFF;
    padding-left: 30px;
    width: 400px;
}

.info p {
    font-size: 23px;
}

p {
    padding-left: 15px;
}

img {
    width: 350px;
    border: 2px solid lightgrey;
    float: right;
    margin-right: 100px;
}